@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

            @if (IsUserAuthenticated)
            {
                <button @onclick="HandleLogout" class="btn btn-danger">Logout</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        IsUserAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }

    private async Task HandleLogout()
    {
        // Zamijenjena metoda MarkUserAsLoggedOut s LogoutUserAsync
        if (AuthenticationStateProvider is CustomAuthenticationStateProvider customAuthStateProvider)
        {
            await customAuthStateProvider.LogoutUserAsync(); // ispravljena metoda za logout
            Navigation.NavigateTo("/login", true);
        }
    }
}
